body {
    background-color: #121212;
    color: #eee;
}

/* Alerts */
.alert-primary {
    background: #004085;
    border-color: #004085;
    color: #cce5ff;
}

.alert-danger {
    background: #721c24;
    border-color: #721c24;
    color: #f8d7da;
}

.alert-success {
    background: #155724;
    color: #d4edda;
    border-color: #155724;
}

.alert-warning {
    background: #ffc107;
    color: #212529;
    border-color: #ffc107;
}
